In [18]:
import pandas as pd

In [19]:
df = pd.read_csv('final_reviews.csv')

In [20]:
df.sample(2)

,Work/Life Balance,Culture & Values,Diversity and Inclusion,Career Opportunities,Compensation and Benefits,Senior Management,rating,Title,Current/Time,Job Line,pros,cons,Company,Date,Role
110577,4.0,4.0,4.0,4.0,4.0,4.0,5,Tcs,Current Employee,2 Feb 2021 - Linux Systems Administrator - in ...,Job security manager manager job,Hike less no bonus no,Tata,2 Feb 2021,Linux Systems Administrator
285614,3.0,2.0,NaN,2.0,3.0,3.0,2,Not a company to work for if you are very ambi...,"Former Employee, less than 1 year",27 Jul 2017 - Applications Developer - in Gurg...,"Easily available work from home, women friendl...","Least effective grading system, lots of politi...",IBM,27 Jul 2017,Applications Developer

In [21]:
topics_1_words = ['work', 'good', 'life', 'balance', 'hike', 'salary', 'less', 'growth', 'opportunity', 'low']
topics_2_words = ['get', 'manager', 'employee', 'year', 'management', 'work', 'bad', 'even', 'time', 'people']
topics_3_words = ['good', 'work', 'salary', 'hike', 'less', 'pay', 'hour', 'shift', 'employee', 'flexible']
topics_4_words = ['project', 'good', 'learn', 'technology', 'get', 'new', 'opportunity', 'work', 'lot', 'freshers']
topics_5_words = ['employee', 'process', 'management', 'growth', 'opportunity', 'good', 'level', 'policy', 'carrer', 'lack']
topics_6_words = ['good', 'work', 'enviornment', 'place', 'con', 'great', 'nice', 'culture', 'team', 'friendly']

In [22]:
df['text'] = df['pros'] + df['cons']

In [23]:
df['text'] = df['text'].fillna('')

In [ ]:
new_df = df['text'].iloc[0:end_row_index]

In [38]:
import pandas as pd
from sklearn.metrics import jaccard_score

# Sample data: df['text'] and top 10 words for each of the 6 topics
# Replace this with your actual data
topics_words = [
            ['work', 'good', 'life', 'balance', 'hike', 'salary', 'less', 'growth', 'opportunity', 'low'],
            ['get', 'manager', 'employee', 'year', 'management', 'work', 'bad', 'even', 'time', 'people'],
            ['good', 'work', 'salary', 'hike', 'less', 'pay', 'hour', 'shift', 'employee', 'flexible'],
            ['project', 'good', 'learn', 'technology', 'get', 'new', 'opportunity', 'work', 'lot', 'freshers'],
            ['employee', 'process', 'management', 'growth', 'opportunity', 'good', 'level', 'policy', 'carrer', 'lack'],
            ['good', 'work', 'enviornment', 'place', 'con', 'great', 'nice', 'culture', 'team', 'friendly']
]

# Topic-Word Distribution: Create a binary matrix for top words in each topic
topic_word_matrix = pd.DataFrame(0, index=range(len(topics_words)), columns=list(topics_words))

topic_word_matrix = pd.DataFrame(0, index=range(len(topics_words)), columns=topics_words)
for i, words in enumerate(topics_words):
    for word in words:
        topic_word_matrix.loc[i, word] = 1
        
# Document-Topic Distribution: Calculate presence of top words for each topic in documents
# Document-Topic Distribution: Calculate presence of top words for each topic in documents
document_topic_matrix = pd.DataFrame(0, index=range(len(df)), columns=range(len(topics_words)))
for i, text in enumerate(df['text']):
    words_in_text = set(text.split())
    for j, topic_words in enumerate(topics_words):
        presence = any(word in words_in_text for word in topic_words)
        document_topic_matrix.loc[i, j] = 1 if presence else 0

        
document_topic_matrix = document_topic_matrix.fillna(0)
topic_word_matrix = topic_word_matrix.fillna(0)
# Calculate Jaccard similarity score between documents and topics
similarity_scores = []
for i in range(len(df)):
    document_vector = document_topic_matrix.loc[i].values
    topic_vectors = topic_word_matrix.values
    similarity = jaccard_score(document_vector, topic_vectors, average=None)
    similarity_scores.append(similarity)

# Create columns for each topic and store the similarity scores
for i in range(len(topics_words)):
    df[f'topic_{i + 1}_score'] = similarity_scores[i]

ValueError: Found input variables with inconsistent numbers of samples: [306212, 6]

In [24]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer

# Sample topics and words
topics_words = [
    ['work', 'good', 'life', 'balance', 'hike', 'salary', 'less', 'growth', 'opportunity', 'low'],
    ['get', 'manager', 'employee', 'year', 'management', 'work', 'bad', 'even', 'time', 'people'],
    ['good', 'work', 'salary', 'hike', 'less', 'pay', 'hour', 'shift', 'employee', 'flexible'],
    ['project', 'good', 'learn', 'technology', 'get', 'new', 'opportunity', 'work', 'lot', 'freshers'],
    ['employee', 'process', 'management', 'growth', 'opportunity', 'good', 'level', 'policy', 'carrer', 'lack'],
    ['good', 'work', 'environment', 'place', 'con', 'great', 'nice', 'culture', 'team', 'friendly']
]

# Extract unique words from topics
unique_words = list(set(word for sublist in topics_words for word in sublist))

# Create a CountVectorizer with the predefined vocabulary (topics_words)
vectorizer = CountVectorizer(vocabulary=unique_words)

# Transform the text data into a document-term matrix
dtm = vectorizer.fit_transform(df['text'])

# Calculate topic probabilities
topic_probabilities = dtm.dot(vectorizer.transform(sum(topics_words, [])).T)

# Normalize topic probabilities to sum up to 1 for each document
normalized_topic_probabilities = topic_probabilities / topic_probabilities.sum(axis=1)

# Create columns for each topic and store the probabilities
num_topics_to_keep = 6
for i in range(num_topics_to_keep):
    df[f'topic_{i + 1}'] = normalized_topic_probabilities[:, i]

C:\Users\HP\anaconda\lib\site-packages\scipy\sparse\_base.py:665: RuntimeWarning: invalid value encountered in divide
  return np.true_divide(self.todense(), other)

In [25]:
df.columns

Index(['Work/Life Balance', 'Culture & Values', 'Diversity and Inclusion',
       'Career Opportunities', 'Compensation and Benefits',
       'Senior Management', 'rating', 'Title', 'Current/Time', 'Job Line',
       'pros', 'cons', 'Company', 'Date', 'Role', 'text', 'topic_1', 'topic_2',
       'topic_3', 'topic_4', 'topic_5', 'topic_6'],
      dtype='object')

In [26]:
df

,Work/Life Balance,Culture & Values,Diversity and Inclusion,Career Opportunities,Compensation and Benefits,Senior Management,rating,Title,Current/Time,Job Line,...,Company,Date,Role,text,topic_1,topic_2,topic_3,topic_4,topic_5,topic_6
0,3.0,4.0,4.0,4.0,4.0,4.0,4,Continuously learning,"Current Employee, more than 1 year",15 May 2023 - Technology Lead - in Pune,...,Infosis,NaN,NaN,Infosys offers best learnings. As the company ...,0.090909,0.000000,0.000000,0.000000,0.090909,0.000000
1,1.0,3.0,2.0,3.0,2.0,1.0,3,Management heirarcy,"Current Employee, more than 1 year",15 May 2023 - Associate Consultant - in Pune,...,Infosis,15 May 2023,Associate Consultant,Some people have no work some have a lotLess i...,0.142857,0.000000,0.000000,0.000000,0.000000,0.000000
2,5.0,5.0,5.0,5.0,5.0,5.0,5,Good,Former Employee,15 May 2023 - Analyst - in Pune,...,Infosis,15 May 2023,Analyst,Good company to work withNothing bad as of whi...,0.090909,0.090909,0.000000,0.000000,0.000000,0.000000
3,4.0,4.0,4.0,4.0,4.0,4.0,4,Good company,"Former Employee, more than 1 year",15 May 2023 - Technology Analyst - in Bengaluru,...,Infosis,15 May 2023,Technology Analyst,Work life balance is good based on projectNo c...,0.083333,0.083333,0.083333,0.083333,0.000000,0.000000
4,5.0,5.0,5.0,5.0,4.0,5.0,5,Good company,"Current Employee, more than 3 years",14 May 2023 - Consultant - in Bengaluru,...,Infosis,14 May 2023,Consultant,#NAME?Annual Salary hike is very less,0.000000,0.000000,0.000000,0.000000,0.166667,0.166667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
306207,4.0,NaN,NaN,4.0,4.0,4.0,3,Not a Good Growthwise/Paywise..,Current Employee,23 Feb 2012 - Senior Associate Consultant - in...,...,NTT_Data,23 Feb 2012,Senior Associate Consultant,Lot of time spent on bench....as a fresher it ...,0.000000,0.095238,0.000000,0.000000,0.000000,0.000000
306208,NaN,NaN,NaN,1.0,2.0,NaN,2,Vertex Software (NTT Data company) has Restric...,Former Employee,10 Jan 2012 - Team Lead - in Pune,...,NTT_Data,10 Jan 2012,Team Lead,1> No upper limit on paid holidays (?)\r\n2>Op...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
306209,NaN,NaN,NaN,2.0,3.0,3.0,3,"When I joined with 2 yrs exp, I was paid the s...",Former Employee,21 Dec 2011 - Consultant - in Bengaluru,...,NTT_Data,21 Dec 2011,Consultant,They have good number of SAP projects\r\nIf ne...,0.000000,0.111111,0.000000,0.000000,0.000000,0.111111
306210,5.0,NaN,NaN,4.0,NaN,3.0,4,In terms of Leaning new things & changing the ...,Current Employee,24 Apr 2011 - - in Hyderābād,...,NTT_Data,24 Apr 2011,- in Hyderābād,Intelligroup promotes Career growth Horizontal...,0.000000,0.062500,0.000000,0.000000,0.000000,0.000000
306211,NaN,NaN,NaN,1.0,2.0,NaN,2,Jumbo Circus,Former Employee,4 Jan 2011 - Lead Engineer - in Pune,...,NTT_Data,4 Jan 2011,Lead Engineer,1)Mediocre work.\r\n2)Limited to medium work p...,0.142857,0.000000,0.000000,0.000000,0.000000,0.000000